create database Project_4

create table tblNhaCungCap
(
	MaNCC varchar(10) primary key,
	TenNCC nvarchar(50) not null
)

create table tblHangHoa
(
	MaHH varchar(10) primary key,
	TenHH nvarchar(50) not null,
	MaNCC varchar(10) constraint FK_HH_NCC foreign key (MaNCC) references tblNhaCungCap(MaNCC),
	SoLuong int
	
)

create table tblPhieuNhap
(
	MaPN varchar(10) primary key,
	MaHH varchar(10) constraint FK_PN_HH foreign key (MaHH) references tblHangHoa(MaHH),
	NgayNhap datetime,
	SoLuong int
)

create table tblPhieuXuat
(
	MaPX varchar(10) primary key,
	MaHH varchar(10) constraint FK_PX_HH foreign key (MaHH) references tblHangHoa(MaHH),
	NgayXuat datetime,
	SoLuong int
)

insert into tblNhaCungCap values('NCC0001',N'Hoàng Hà')
insert into tblNhaCungCap values('NCC0002',N'Thăng Long')
insert into tblNhaCungCap values('NCC0003',N'Hải Tiến')

insert into tblHangHoa values('HH0001',N'Hàng hóa 01','NCC0001','100')
insert into tblHangHoa values('HH0002',N'Hàng hóa 02','NCC0003','150')
insert into tblHangHoa values('HH0003',N'Hàng hóa 03','NCC0002','200')

insert into tblPhieuNhap values('PN0001','HH0001','1/15/2015','200')
insert into tblPhieuNhap values('PN0002','HH0003','1/15/2015','150')
insert into tblPhieuNhap values('PN0003','HH0002','1/30/2015','100')

insert into tblPhieuXuat values('PX0001','HH0003','2/5/2015','100')
insert into tblPhieuXuat values('PX0002','HH0001','3/15/2015','150')
insert into tblPhieuXuat values('PX0003','HH0002','3/26/2015','100')

create table tblUser
(
	TaiKhoan varchar(50) not null,
	MatKhau varchar(50) not null
)


insert into tblUser values (N'nguyenanhdung', N'nguyenanhdung')
insert into tblUser values (N'hoangdinhdat', N'hoangdinhdat')
insert into tblUser values (N'phixuandao', N'phixuandao')


create proc NhapMoi(@TenHH nvarchar(50), @MaNCC varchar(10), @Soluong int)
as
declare @i int
begin
	set @i =(select Count(MaHH) from tblHangHoa)
	if @i <10 insert into tblHangHoa values ('HH000'+convert(varchar(5),@i+1),@TenHH, @mancc,@soluong)
	else if @i<100 and @i>=10 insert into tblHangHoa values ('HH00'+convert(varchar(6),@i+1),@TenHH, @mancc,@soluong)
	else if @i<1000 and @i >=100 insert into tblHangHoa values ('HH0'+convert(varchar(7),@i+1),@TenHH, @mancc,@soluong)
	else if @i<10000 and @i >=1000 insert into tblHangHoa values ('HH'+convert(varchar(8),@i+1),@TenHH, @mancc,@soluong)
end

create proc NhapThem (@mahh varchar(10), @soluong int)
as
begin
update tblHangHoa set SoLuong = SoLuong + @soluong where MaHH = @mahh
end

create proc XuatHang(@mahh varchar(10), @soluong int)
as
begin
update tblHangHoa set SoLuong = SoLuong - @soluong where MaHH = @mahh
end

create proc TimMaHH (@MaHH varchar(10), @TenHH nvarchar(50), @MaNCC varchar(10), @SoLuong int)
as
begin
	select * from tblHangHoa where MaHH=@MaHH
end

create proc TimTenHH (@MaHH varchar(10), @TenHH nvarchar(50), @MaNCC varchar(10), @SoLuong int)
as
begin
	select * from tblHangHoa where TenHH like '%'+@TenHH+'%d'
end

create proc TimMaNCC (@MaHH varchar(10), @TenHH nvarchar(50), @MaNCC varchar(10), @SoLuong int)
as
begin
	select * from tblHangHoa where MaNCC=@MaNCC
end

create proc TimSL (@MaHH varchar(10), @TenHH nvarchar(50), @MaNCC varchar(10), @SoLuong int)
as
begin
	select * from tblHangHoa where SoLuong=@SoLuong
end

create proc ThongKeNhap
as
begin
		SELECT        dbo.tblHangHoa.TenHH, dbo.tblPhieuNhap.SoLuong, dbo.tblPhieuNhap.NgayNhap
		FROM dbo.tblHangHoa INNER JOIN
                         dbo.tblPhieuNhap ON dbo.tblHangHoa.MaHH = dbo.tblPhieuNhap.MaHH
end

create proc ThongKeXuat
as 
begin
	SELECT        dbo.tblHangHoa.TenHH, dbo.tblPhieuXuat.NgayXuat, dbo.tblPhieuXuat.SoLuong
	FROM            dbo.tblHangHoa INNER JOIN
                         dbo.tblPhieuXuat ON dbo.tblHangHoa.MaHH = dbo.tblPhieuXuat.MaHH
end