create database XDHTQLKS
go
use [XDHTQLKS]


create table tblDichVu_Phong
(	ID_DV varchar(10) not null, Ten_DV nvarchar(50), DV_Tien nchar(10), Gia_DV money 
)

create table tblKhachHang 
(	ID_KhachHang varchar(10) not null, Ten_KhachHang nvarchar(50),QueQuan nvarchar(50), GioiTinh nchar(10),
	CMND nchar(12), QuocTich nvarchar(50)
)

create table  tblLoaiPhong 
(	Ma_Ploai char(10) not null ,TenLoai nvarchar(50), GiaTien_Ngay money, GiaTien_Gio money, 
	ViTri nvarchar(50), solong int
)
create table  tblPhong 
(	ID_Phong varchar(10) not null,Ma_Ploai char (10) not null, TinhTrang nvarchar(20), 
	HienTrang nvarchar(20), So_DT int
)
create table  tblSuDung_DV
(	ID_Phong varchar(10) not null, ID_DV varchar(10) not null, SoLuong int, NgaySD datetime 
)

create table  tblDangNhap
( name nvarchar(50) not null, pass nvarchar(50)
)
create table  tblThietBi_Phong 
( ID_TB char(10) not null, Ten_TB nvarchar(50), DvTien nchar(10), Gia_TB money
)
create table  tblThuePhong
(	ID_Khach varchar(10) not null, ID_Phong varchar(10) not null, TG_Bdau datetime , TG_TraPhong datetime,
	Tien_DatCoc money, TG_TraPhongTT datetime , MaThanhToan int, MaGiaoDich char(10) not null
)

create table  tblThietBi
(	ID_LPhong char(10) not null, ID_TB char(10) not null, SoLuong int
)

alter table  tblPhong add constraint FK_P primary key (ID_phong),
	constraint FK_P_LP foreign key (Ma_Ploai) references tblLoaiPhong (Ma_Ploai)
alter table  tblLoaiPhong add constraint FK_LP primary key (Ma_PLoai)
alter table  tblKhachHang add constraint FK_KH primary key (ID_KhachHang)
alter table  tblThietBi_Phong add constraint FK_TBP primary  key (ID_TB)
alter table  tblDichVu_Phong add constraint FK_DVP primary key (ID_DV)

alter table tblSuDung_DV add constraint FK_SDDV primary key (ID_Phong, ID_DV),
	constraint FK_SDDV_tblPhong foreign key (ID_Phong) references tblPhong(ID_Phong),
	constraint FK_SDDV_DV foreign key (ID_DV) references tblDichVu_Phong(ID_DV)

alter table tblThietBi add constraint FK_TB primary key (ID_LPhong, ID_TB),
	constraint FK_TB_LPhong foreign key (ID_LPhong) references tblLoaiPhong(Ma_Ploai)
alter table tblThietBi add constraint FK_TB_TB foreign key (ID_TB) references tblThietBi_Phong(ID_TB)

alter table  tblThuePhong add constraint FK_TP primary key (ID_Khach, ID_Phong),
	constraint FK_TP_tblPhong foreign key (ID_Phong) references tblPhong(ID_Phong),
	constraint FK_TP_tblKhachHang foreign key (ID_Khach) references tblKhachHang(ID_KhachHang)
	
	
INSERT into [dbo].[tblThietbi_phong] ([ID_TB], [Ten_TB], [DVtien], [Gia_TB]) VALUES (N'TB02      ', N'Tủ quần áo to', N'chiếc     ', 400000.0000)
INSERT into [dbo].[tblThietbi_phong] ([ID_TB], [Ten_TB], [DVtien], [Gia_TB]) VALUES (N'TB03      ', N'Tivi', N'chiếc     ', 4000000.0000)
INSERT into [dbo].[tblThietbi_phong] ([ID_TB], [Ten_TB], [DVtien], [Gia_TB]) VALUES (N'TB04      ', N'Máy điều hòa', N'chiếc     ', 10000000.0000)




INSERT into [dbo].[tblLoaiPhong] ([Ma_Ploai], [TenLoai], [GiaTien_ngay], [GiaTien_gio], [ViTri], [solong]) VALUES (N'ABC       ', N'siêu vip', 2000000.0000, 22222.0000, N'Tầng 9', 4)
INSERT into [dbo].[tblLoaiPhong]  ([Ma_Ploai], [TenLoai], [GiaTien_ngay], [GiaTien_gio], [ViTri], [solong]) VALUES (N'CNR       ', N'Connect room - Loại phòng thông nhau', 400.0000, 40000.0000, N'Tầng 5', 7)
INSERT into [dbo].[tblLoaiPhong]  ([Ma_Ploai], [TenLoai], [GiaTien_ngay], [GiaTien_gio], [ViTri], [solong]) VALUES (N'DLX1      ', N'Deluxe - Loại cao cấp 1-2 người', 300.0000, 30000.0000, N'Tầng 4', 5)




--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB01      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB02      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB03      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB06      ', 5)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB07      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB08      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB09      ', 6)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB10      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB11      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB13      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB14      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB17      ', 8)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'CNR       ', N'TB19      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB01      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB02      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB06      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB08      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB09      ', 3)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB10      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB13      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX1      ', N'TB17      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB01      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB02      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB06      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB08      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB09      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB10      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB13      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'DLX2      ', N'TB17      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB01      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB06      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB07      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB10      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB11      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB16      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB18      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD1      ', N'TB19      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB01      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB04      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB06      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB07      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB10      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB11      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB16      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'STD2      ', N'TB18      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB01      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB02      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB06      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB09      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB10      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB11      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB12      ', 3)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB13      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB14      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP1      ', N'TB17      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB01      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB02      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB06      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB09      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB10      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB11      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB12      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB13      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB14      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'SUP2      ', N'TB17      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB01      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB02      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB03      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB04      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB05      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB06      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB07      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB08      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB09      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB10      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB11      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB12      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB13      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB14      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB15      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB17      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP1      ', N'TB19      ', 1)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP2      ', N'TB01      ', 4)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP2      ', N'TB02      ', 2)
--INSERT [dbo].[Trangbi_TB] ([ID_LPhong], [ID_TB], [SOLUONG]) VALUES (N'VIP2      ', N'TB03      ', 2)


INSERT into [dbo].[tblDichVu_Phong] ([ID_DV], [Ten_DV], [DV_tien], [Gia_DV]) VALUES (N'DVU1      ', N'Giặt là quần áo', N'Bộ        ', 5000.0000)
INSERT into [dbo].[tblDichVu_Phong] ([ID_DV], [Ten_DV], [DV_tien], [Gia_DV]) VALUES (N'DVU10     ', N'Bia Hà Nội', N'Chai      ', 10000.0000)
INSERT into [dbo].[tblDichVu_Phong] ([ID_DV], [Ten_DV], [DV_tien], [Gia_DV]) VALUES (N'DVU11     ', N'Bia Đại Việt', N'Thùng     ', 235000.0000)

INSERT into [dbo].[tblPhong] ([ID_Phong], [Ma_Ploai], [TinhTrang], [HienTrang], [So_DT]) VALUES (101, N'cnr       ', N'Tốt', N'Đã thuê', 444411)
INSERT into [dbo].[tblPhong]  ([ID_Phong], [Ma_Ploai], [TinhTrang], [HienTrang], [So_DT]) VALUES (102, N'STD1      ', N'Tốt', N'Đã thuê', 444412)
INSERT into [dbo].[tblPhong] ([ID_Phong], [Ma_Ploai], [TinhTrang], [HienTrang], [So_DT]) VALUES (103, N'STD2      ', N'Tốt', N'Đã thuê', 444413)


INSERT into [dbo].[tblSuDung_DV] ([ID_Phong], [ID_DV], [SoLuong], [NgaySD]) VALUES (106, N'DVU10     ', 3, CAST(0x0000A43500000000 AS DateTime))
INSERT [dbo].[SuDung_DV] ([ID_Phong], [ID_DV], [SoLuong], [NgaySD]) VALUES (107, N'DVU4      ', 3, CAST(0x0000A43500000000 AS DateTime))
INSERT [dbo].[SuDung_DV] ([ID_Phong], [ID_DV], [SoLuong], [NgaySD]) VALUES (201, N'DVU6      ', 2, CAST(0x0000A43100000000 AS DateTime))
INSERT [dbo].[SuDung_DV] ([ID_Phong], [ID_DV], [SoLuong], [NgaySD]) VALUES (201, N'DVU7      ', 3, CAST(0x0000A43300000000 AS DateTime))
